.contact {
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.8);
  }
  
  .contact-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  
  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .phone h4,
  .right h4 {
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .phone h4 svg,
  .right h4 svg {
    margin-right: 1rem;
  }
  
  @media (max-width: 768px) {
    .contact-container {
      grid-template-columns: 1fr; /* Change to a single column layout */
      grid-gap: 20px; /* Reduce the gap between items */
    }
    
    .left,
    .right {
      padding: 1rem 0; /* Adjust padding for smaller screens */
    }
  
    /* Adjust font size for phone numbers and email addresses */
    .phone h4,
    .right h4 {
      font-size: 1rem;
      margin-bottom: 0.3rem;
    }
  
    .phone h4 svg,
    .right h4 svg {
      margin-right: 0.5rem;
    }
  }
  
  
  
  
  